.Cell {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px #000000 solid;
    border-radius: 2px;
    box-sizing: border-box;
    float: left;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c6, .c7, .c8 {
    background-color: silver;
}

.c0 {
    background-color: gainsboro;
}
.c1 {	
    color: mediumblue;
}
.c2 {
    color: green;
}
.c3 {
    color: #BB0000;
}
.c4 {
    color: black;
}
.c5 {
    color: saddlebrown;
}
.c6 {
    color: darkcyan;
}
.c7 {
    color: black;
}
.c8 {
    color: #555555;
}
.mine {
    background-color: red;
    color: white;
}
.flag {
    background-color: #FF5555;
    color: white;
}
.fakeMine {
    background-color: black;
    color: white;
}
.hidden {
    background-color: dimgray;
}
.mistake {
    background-color: black;
    color: red;
}
.highlight {
    background-color: yellow;
}